.topbar {
  width: 100vw;
  height: 12%;
  background-color: lightblue;
  font-style: italic;
  font-size: medium;
  padding: 3px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.aboutme img {
  float: left;
  width: 200px;
  height: auto;
}

.aboutme {
  width: 40%;
  height: auto;
  float: left;
}


.projectsection {
  width: 59%;
  height: auto;
  float: left;
}

@media screen and (max-width: 800px) { 
  .aboutme img {
    width: 75px; 
    height: auto;
  }
  .aboutme .projectsection {   
    width: 100%;
  }
}