body {
  background-color: #f5fff8
}

.topbar {
  width: 100vw;
  height: 12%;
  background-color: lightblue;
  font-size: medium;
}

#ids_are_bad {
  font-family: monospace;
} 

#ids_are_bad a {
  float: right;
  font-size: large;
}

.aboutme img {
  float: left;
  width: 200px;
  height: auto;
  margin: 5%;
  border-radius: 25% 1px;
  border: 3px solid grey;
}

.aboutme img:hover {
  transform: rotate(180deg);
  transition: 1s;
}

.aboutme p {
  text-indent: 7%;
}

.aboutme {
  width: 100%;
  height: auto;
  padding: 7%;
}

.projectsection {
  width: 100%;
  height: auto;
  padding: 7%;
}

@media screen and (max-width: 800px) { 
  .aboutme img {
    width: 75px; 
    height: auto;
    margin: 2%;
  }
  .aboutme .projectsection {   
    width: 100%;
    padding: 0%;
  }
}